# Python virtual environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# Vault password file - This is an example repo so yet we will commit this file 
### .vault/password

# Ansible
*.retry
.ansible/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
